{% include template-start.liquid %}

<main role="main">
    <div class="section section-text-page">
        <div class="container">
            {{ content }}
        </div>
    </div>
</main>

{% include template-end.liquid %}
